@page "/clients/details/{ClientId:int}"
@using System.Net
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize]
@inject IJSRuntime Js   


<div class="grid grid-cols-2">
    <div class="mt-5 grid-cols-1 flex justify-start pe-3 sm:pe-5 ms-2">
        <span>
            <a class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" href="/Clients">
                <iconify-icon icon="mingcute:back-2-line"></iconify-icon> Voltar
            </a>
        </span>
    </div>

    <div class="mt-5 grid-cols-1 flex justify-end pe-3 sm:pe-5 mb-2 space-x-1">
        <AuthorizeView>
            <Authorized>
                <div @onclick=@(() => EditAsync())>
                    <a class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        @* <iconify-icon icon="mdi:password-outline"></iconify-icon> *@ Editar
                    </a>
                </div>

                <div @onclick=@(() => DeleteAsync())>
                    <a class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        @* <iconify-icon icon="mdi:password-outline"></iconify-icon> *@ Excluir
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>

    </div>
</div>
@if (client is null)
{
    <div class="text-center">
        <div role="status">
            <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{


    <div class="mt-5 grid-cols-1 flex justify-start pe-3 sm:pe-5 ms-2">
        <h2 class="text-xl font-bold leading-7 text-gray-900">Dados do cliente</h2>
    </div>

    <div class="space-y-12  pe-3 sm:pe-5 ps-3 sm:ps-5 mt-5">
        <div class="border-b border-t border-gray-900/10 pb-12 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">CFP / CNPJ</label>
                <label class="">@client.Cpf_Cnpj</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Cliente: </label>
                <label class="">@client.Name</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">RG / IE</label>
                <label class="">@client.Rg_Ie</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                <label class="">@client.Email</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Nome Fantasia</label>
                <label class="">@client.FantasyName</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Endereço</label>
                <label class="">@client.Address @client.AddressNumber, @client.City!.Name, @client.City.State!.Name, @client.City.State.Country!.Name</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">CEP</label>
                <label class="">@client.AddressCep</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Comentário</label>
                <label class="">@client.Remarks</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Data de Nascimento</label>
                <label class="">@client.BirthData</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Gênero</label>
                <label class="">@client.Gender</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Bairro</label>
                <label class="">@client.Neighborhood</label>
            </div>

            <div class="md:col-span-1">
                <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">Telefone</label>
                <label class="">@client.PhoneNumber</label>
            </div>

            <div class="md:col-span-1">
                <label class="form-label fw-bold">Saldo</label>
                <label class="">@($"{client.Balance:C2}")</label>
            </div>

            <div class="md:col-span-1">
                <label class="form-label fw-bold">Mensalidade</label>
                <label class="">@($"{client.MonthlyPayment:C2}")</label>
            </div>
        </div>
    </div>

    if (client?.ClientService?.Count != 0)
    {
        @* Tabela CLientes Produtos *@
        <div class="p-5 bg-gray-100">

            <p class="text-xl mb-2">Serviços prestados</p>

            <!-- Tabela -->
            <div class="relative overflow-x-auto rounded-lg shadow hidden md:block">
                <GenericList MyList="client?.ClientService?.ToList()">
                    <Body>
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Serviço
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Valor
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Dt. Inicio
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var servico in client?.ClientService!)
                                {
                                    <tr>
                                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            @servico.Product.Name
                                        </th>
                                        <td class="px-6 py-4">
                                            @((servico.Product.Price - servico.Discount).ToString("C") )
                                        </td>
                                        <td class="px-6 py-4">
                                            @servico.StartDate
                                        </td>
                                        <td class="px-6 py-4">
                                            <a @onclick=@(() => RemoverServicoClientAsync(servico.Id)) type="button" class="font-medium text-red-600 dark:text-red-500 hover:underline">Remover</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </Body>
                </GenericList>
            </div>

            <!-- Box -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
                <GenericList MyList="client?.ClientService?.ToList()">
                    <Body>
                        @foreach (var servico in client?.ClientService!)
                        {
                            <div class="bg-white space-y-3 p-4 rounded-lg shadow">
                                <div class="flex items-center space-x-2 text-sm">
                                    <div>
                                        <a href="#" class="text-gray-500">Inicio:</a>
                                    </div>
                                    <div class="text-gray-500">@servico.StartDate</div>
                                
                                </div>
                                <div class="text-sm text-gray-700">
                                    @servico.Product.Name
                                </div>
                                <div class="text-sm font-medium text-black">
                                    Saldo: @((servico.Product.Price - servico.Discount).ToString("C"))
                                </div>
                                <a class="mt-2 font-bold text-blue-500 hover:underline">Remover</a>
                                
                            </div>
                        }
                    </Body>
                </GenericList>
            </div>
        </div>
    }

    <div class="grid grid-cols-2 mb-5">
        <div class="mt-5 grid-cols-1 flex justify-start pe-3 sm:pe-5 ms-2">
            <button @onclick=@(()=>ShowModalClientServ()) class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                Adicionar serviço   
            </button>
        </div>        
    </div>
    
}

@code {
    private Client? client;

    // private List<Product> lServicos;

    [Parameter]
    public int ClientId { get; set; }

    [CascadingParameter]
    IModalService ClientServModal { get; set; } = default!;

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }
    private async void ShowModalClientServ()
    {
        IModalReference modalReference;

        modalReference = ClientServModal.Show<ClientServModal>(string.Empty, new ModalParameters().Add("ClientId", ClientId));

        var result = await modalReference.Result;

        if (result.Confirmed)
        {
            await LoadAsync(); 
            StateHasChanged();
        }
    }
    private async void RemoverServicoClientAsync(int idServ)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmaçao",
                Text = string.Format("Deseja excluir o serviço selecionado?"),
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "Não",
                ConfirmButtonText = "Sim"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/clients/deleteclientservice/{idServ}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
            await LoadAsync();
            StateHasChanged();
            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    Position = SweetAlertPosition.TopEnd,
                    ShowConfirmButton = true,
                    Timer = 5000
                });
            await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Serviço excluido!");
        }

        await LoadAsync();
    }

    private async Task EditAsync()
    {
        navigationManager.NavigateTo("/clients/edit/"+ClientId);

        await LoadAsync();
    }
    private async Task DeleteAsync()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmaçao",
                Text = string.Format("Deseja excluir o cliente: {0} ?", client.Name),
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "Não",
                ConfirmButtonText = "Sim"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/clients/{ClientId}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    Position = SweetAlertPosition.TopEnd,
                    ShowConfirmButton = true,
                    Timer = 5000
                });
            await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cliente excluido!");
        }

        await LoadAsync();
    }
    private async Task LoadAsync()
    {
        var responseHppt = await repository.GetNoPage<Client>($"api/clients/{ClientId}");
        if (responseHppt.Error)
        {
            if (responseHppt.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/clients");
                return;
            }
            var messageError = await responseHppt.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }
        client = responseHppt.Response;
    }
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        await Js.InvokeVoidAsync("window.initializeFlowbite");
    }
}
