@page "/Register"
@using AppControle.Hybrid.Components.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService


<EditForm Model="UserDTO" OnValidSubmit="CreteUserAsync">
    <DataAnnotationsValidator /> 

    <div class="mt-5 flex justify-end xl:justify-center pe-3 sm:pe-5 mb-2">

        <h2 class="text-xl font-bold leading-7 text-gray-900">Criar novo usuário</h2>
    </div>

    <form class="space-y-12  pe-3 sm:pe-5 ps-3 sm:ps-5">
        <div class="border-b border-t border-gray-900/10 pb-12">
            
            @* <p class="mt-1 text-sm leading-6 text-gray-600">Use um email válido onde você possa receber correspondência.</p> *@

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-8">

                <div class="sm:col-span-4 md:col-span-2">
                    <label for="cpf_cnpj" class="block text-sm font-medium leading-6 text-gray-900">* CFP / CNPJ</label>
                    <div class="mt-2">
                        <InputText name="cpf_cnpj" id="cpf_cnpj" @bind-Value="@UserDTO.Cpf_Cnpj" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Cpf_Cnpj)" />
                    </div>
                </div>

                <div class="sm:col-span-4 md:col-span-2">
                    <label for="rg_ie" class="block text-sm font-medium leading-6 text-gray-900">RG / IE</label>
                    <div class="mt-2">
                        <InputText name="rg_ie" id="rg_ie" @bind-Value="@UserDTO.Rg_Ie" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Rg_Ie)" />
                    </div>
                </div>

                <div class="sm:col-span-4 md:col-span-2">
                    <label for="name" class="block text-sm font-medium leading-6 text-gray-900">* Name</label>
                    <div class="mt-2">
                        <InputText name="name" id="name" @bind-Value="@UserDTO.Name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Name)" />
                    </div>
                </div>

                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="fantasyname" class="block text-sm font-medium leading-6 text-gray-900">Nome Fantasia</label>
                    <div class="mt-2">
                        <InputText name="fantasyname" id="fantasyname" @bind-Value="@UserDTO.FantasyName" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.FantasyName)" />
                    </div>
                </div>                
                <!-- -- -->
                <div class="sm:col-span-4 ">
                    <div class="grid-cols-3 grid">
                        <div class="col-span-2">
                            <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Endereço</label>
                            <div class="mt-2">
                                <InputText name="address" id="address" @bind-Value="@UserDTO.Address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Address)" />
                            </div>
                        </div>

                        <div class="col-span-1 pl-2 sm:pl-5 ">
                            <label for="addressnumber" class="block text-sm font-medium leading-6 text-gray-900">N°</label>
                            <div class="mt-2">
                                <InputNumber name="addressnumber" id="addressnumber" @bind-Value="@UserDTO.AddressNumber" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.AddressNumber)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="cep" class="block text-sm font-medium leading-6 text-gray-900">CEP</label>
                    <div class="mt-2">
                        <InputText name="cep" id="cep" @bind-Value="@UserDTO.AddressCep" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.AddressCep)" />
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="bairro" class="block text-sm font-medium leading-6 text-gray-900">Bairro</label>
                    <div class="mt-2">
                        <InputText name="bairro" id="bairro" @bind-Value="@UserDTO.Neighborhood" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Neighborhood)" />
                    </div>
                </div>
                <!-- -- -->
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="cep" class="block text-sm font-medium leading-6 text-gray-900">Pais</label>
                    <div class="mt-2">
                        <select id="country" name="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" @onchange="CountryChangedAsync">
                            <option value="0">-- Selecione um Pais --</option>
                            @if (countries is not null)
                            {
                                @foreach (var country in countries)
                                {
                                    <option value="@country.Id">@country.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="cep" class="block text-sm font-medium leading-6 text-gray-900">Estado</label>
                    <div class="mt-2">
                        <select id="country" name="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm sm:leading-6" @onchange="StateChangedAsync">
                            <option value="0">-- Selecione um Estado --</option>
                            @if (states is not null)
                            {
                                @foreach (var state in states)
                                {
                                    <option value="@state.Id">@state.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="cep" class="block text-sm font-medium leading-6 text-gray-900">Cidade</label>
                    <div class="mt-2">
                        <select id="country" name="country" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm sm:leading-6" @bind="UserDTO.CityId" >
                            <option value="0">-- Selecione uma Cidade --</option>

                            @if (cities is not null)
                            {
                                @foreach (var city in cities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                            }
                        </select>
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.CityId)" />
                    </div>
                </div>

                <!-- -->
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                    <div class="mt-2">
                        <InputText name="email" id="email" @bind-Value="@UserDTO.Email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Email)" />
                    </div>
                </div>

                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="addressnuphoneNumbermber" class="block text-sm font-medium leading-6 text-gray-900">Telefone</label>
                    <div class="mt-2">
                        <InputText name="phoneNumber" id="phoneNumber" @bind-Value="@UserDTO.PhoneNumber" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.PhoneNumber)" />
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">* Senha</label>
                    <div class="mt-2">
                        <InputText type="password" id="password" name="password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" @bind-Value="@UserDTO.Password" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.Password)" />
                    </div>
                </div>
                <div class="sm:col-span-4 md:col-span-2 ">
                    <label for="confirmpassword" class="block text-sm font-medium leading-6 text-gray-900">* Confirmação de Senha</label>
                    <div class="mt-2">
                        <InputText type="password" id="confirmpassword" name="confirmpassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" @bind-Value="@UserDTO.PasswordConfirm" />
                        <ValidationMessage class="text-red-500 font-bold" For="@(() => UserDTO.PasswordConfirm)" />
                    </div>
                </div>

                <!-- -->
                <div class="sm:col-span-4">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Selecione a imagem</label>
                    <InputFile OnChange="OnChangeInputFile" accept=".jpg,.jpeg,.png" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" />
                </div>

            </div>
        </div>
    </form>

    <div class="mt-6 flex items-center justify-end gap-x-6 mb-5 me-5">
        <a type="button" href="/" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar</button>
    </div>

</EditForm>


 
@code {
    private UserDTO UserDTO = new();
    private List<Country>? countries;
    private List<State>? states;
    private List<City>? cities;

    [Parameter]
    [SupplyParameterFromQuery]
    public bool IsAdmin { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadCountriesAsync();
    }

    private void ImageSelected(string imagenBase64)
    {
        UserDTO.Photo = imagenBase64;
    }
    async Task OnChangeInputFile(InputFileChangeEventArgs e)
    {
        var imagenes = e.GetMultipleFiles();

        foreach (var imagen in imagenes)
        {
            var arrBytes = new byte[imagen.Size];
            await imagen.OpenReadStream().ReadAsync(arrBytes);
            var imageBase64 = Convert.ToBase64String(arrBytes);
            // ImageURL = null;
            UserDTO.Photo = imageBase64;
            // await ImageSelected.InvokeAsync(imageBase64);
            // StateHasChanged();
        }
    }
    private async Task LoadCountriesAsync()
    {
        var responseHttp = await repository.GetNoPage<List<Country>>("/api/countries/combobox");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            // await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        countries = responseHttp.Response;
    }

    private async Task CountryChangedAsync(ChangeEventArgs e)
    {
        var selectedCountry = Convert.ToInt32(e.Value!);
        await LoadStatesAsyn(selectedCountry);
    }

    private async Task LoadStatesAsyn(int countryId)
    {
        var responseHttp = await repository.GetNoPage<List<State>>($"/api/states/combobox/{countryId}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            // await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        states = responseHttp.Response;
    }

    private async Task StateChangedAsync(ChangeEventArgs e)
    {
        var selectedState = Convert.ToInt32(e.Value!);
        await LoadCitiesAsyn(selectedState);
    }

    private async Task LoadCitiesAsyn(int stateId)
    {
        var responseHttp = await repository.GetNoPage<List<City>>($"/api/cities/combobox/{stateId}");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            // await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        cities = responseHttp.Response;
    }

    private async Task CreteUserAsync()
    {
        UserDTO.UserName = UserDTO.Email;
        UserDTO.UserType = UserType.User;
        // if (IsAdmin)
        // {
        //     UserDTO.UserType = UserType.Admin;
        // }
        // else
        // {
        //     UserDTO.UserType = UserType.User;
        // }
        var responseHttp = await repository.Post<UserDTO>("/api/accounts/CreateUser", UserDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        await sweetAlertService.FireAsync("Confirmação", "Sua conta foi criada com sucesso. Foi enviado um e-mail com instruções para ativar seu usuário.", SweetAlertIcon.Info);
        navigationManager.NavigateTo("/");
    }
}
